* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 3%;
    background-color: var(--light-scream);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-align: center;
    margin: 0;
}

p {
    font-weight: 500;
    color: var(--medium-brown);
    text-align: center;
    font-size: var(--font-p-mb);
}

:root {
    --black-main: #030303;
    --medium-brown: #7A746E;
    --light-scream: #FFF7F0;
    --galactic-blue: #755CDE;
    --summer-yellow: #F6A560;
    --pink-main: #F39E9E;
    --light-red: #EB7565;
    --cyan: #61C4B7;
    --dark-purple: #552049;
    --font-h1-mb: 2.25rem;
    --font-h2-mb: 1.625rem;
    --font-p-mb: 1rem;
    --font-btn-mb: 0.875rem;
    --font-skills-mb: 1.5rem;

    --font-h1-tb: 2.75rem;
    --font-h2-tb: 2rem;
    --font-p-tb: 1.125rem;
    --font-btn-tb: 1rem;
    --font-skills-tb: 1.5rem;

    --font-h1-desk: 3.5rem;
    --font-h2-desk: 2.5rem;
    --font-p-desk: 1.125rem;
    --font-btn-desk: 1rem;
    --font-skills-desk: 1.5rem;
}

/* Header */

#header, #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 3rem;
}

.consultation-btn {
    display: inline-block;
    height: 2.75rem;
    width: 11rem;
    background-color: var(--black-main);
    color: var(--light-scream);
    border-radius: 999px;
    font-size: var(--font-btn-mb);
}

.tab-btn:hover {
    background-color: var(--galactic-blue);
}



/* Heading content */
.heading-content {
    margin: 2rem 0;
}

.heading-content > h1 {
    font-size: var(--font-h1-mb);
    padding: 0 1rem;
}

.heading-content > p {
    margin: 1.5rem 0;
    padding: 0 2.2rem;
}

/* Skills section */
.my-skills-section {
    display: grid;
    grid-template-columns: calc(50% - 1.25rem/2) calc(50% - 1.25rem/2);
    grid-template-rows: 22.75rem 11.375rem 9.875rem 11.375rem 11.375rem;
    grid-template-areas: 
    'skill-design skill-design'
    'skill-uxui skill-apps'
    'skill-ill skill-ill'
    'skill-photo skill-photo'
    'skill-graphics skill-graphics'
    ;
    column-gap: 1.25rem;
    row-gap: 1.25rem;
}

.my-skills-section > * {
    position: relative;
    border-radius: 10px;
}

.my-skills-section p {
    margin: 0;
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    color: var(--light-scream);
    font-size: var(--font-skills-mb);
}

.img-skill {
    width: 40%;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
}


.skill-design {
    grid-area: skill-design;
    background-color: var(--galactic-blue);
}
.skill-uxui {
    grid-area: skill-uxui;
    background-color: var(--summer-yellow);
}
.skill-apps {
    grid-area: skill-apps;
    background-color: var(--pink-main);
}
.skill-illustrations {
    grid-area: skill-ill;
    background-color: var(--light-red);
}
.skill-photography {
    grid-area: skill-photo;
    background-color: var(--cyan);
}
.skill-motion-graphics {
    grid-area: skill-graphics;
    background-color: var(--dark-purple);
}

/* Avatar & information */
.my-information {
    text-align: center;
    margin-top: 1rem;
}

.avatar-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
    margin: 2rem 0;
}

.avatar-information h2 {
    font-size: var(--font-h2-mb);
}

.avatar-information p {
    margin: 1rem 0;
}

.avatar {
    height: 18.75rem;
    width: 18.75rem;
}

.body-btn {
    background-color: var(--light-red);
}

.body-btn:hover {
    background-color: var(--summer-yellow);
}

/* My work */

.slick-slide {
    margin: 0 0.5rem;
}

.slick-list {
    margin: 0 -3vw;
}

.my-carousel img {
    border-radius: 10px;
    height: 180px;
    width: 100%;
}

.carousel-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="btn-arrow-"] {
    height: 3rem;
    width: 3rem;
    border-radius: 999px;
    background-color: var(--black-main);
    margin: 0.5rem 0.5rem;
}

[class*="btn-arrow-"]:hover {
    background-color: var(--galactic-blue);
}

[class*="btn-arrow-"] img {
    height: 1.5rem;
    width: 1.5rem;
}

/* Footer card */

.footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black-main);
    color: var(--light-scream);
    padding: 3rem 1rem;
    margin-top: 3rem;
    border-radius: 14px;
}

.footer-card p {
    margin: 1.5rem 0;
}

/* Footer */

#footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Media query tablet 768px*/

@media screen and (min-width: 768px) {
    /* reset font-size */
    h1 {
        font-size: var(--font-h1-tb)!important;
    }
    h2 {
        font-size: var(--font-h2-tb)!important;
    }
    p {
        font-size: var(--font-p-tb)!important;
    }

    .consultation-btn {
        font-size: var(--font-btn-tb)!important;
    }

    /* resize */

    body {
        padding: 5%;
    }

    .header-logo {
        height: 4rem;
    }

    .consultation-btn {
        height: 3.5rem;
        width: 14.25rem;
    }

    img.avatar {
        height: 22.75rem;
        width: 22.75rem;
    }

    .heading-content, .my-skills-section, .my-information, .my-work {
        margin-bottom: 4rem;
    }

    .my-carousel, .footer-card {
        margin-bottom: 2rem;
    }

    /* skills grids */

    .my-skills-section {
        display: grid;
        grid-template-columns: calc(50% - 1.5rem/2) calc(25% - 2.25rem/2) calc(25% - 2.25rem/2);
        grid-template-rows: 11.375rem 9.875rem 11.375rem;
        grid-template-areas: 
        'skill-design skill-uxui skill-apps'
        'skill-design skill-ill skill-ill'
        'skill-photo skill-graphics skill-graphics'
        ;
        column-gap: 1.5rem;
        row-gap: 1.5rem;

    }

    /* Avater & information */
    .my-information {
        display: grid;
        grid-template-columns: calc(50% - 1.5rem/2) calc(50% - 1.5rem/2);
        column-gap: 1.5rem;
    }

    .avatar-container {
        position: relative;
    }

    .avatar {
        position: absolute;
        right: 0;
    }

    .avatar-information {
        align-items: flex-start;
    }

    .avatar-information h2, .avatar-information p {
        text-align: left;
    }

    /* My work */
    .my-carousel img {
        height: 360px;
        max-width: 100%;
        border-radius: 20px;
    }

    .slick-list {
        margin: 0 -5vw;
    }

    .slick-slide {
        margin: 0 1rem;
    }

    /* Footer card */

    .footer-card {
        padding: 10% 15%;
    }
}

/* Media query desktop 992px*/
@media screen and (min-width: 992px) {
    /* reset font-size */
    h1 {
        font-size: var(--font-h1-desk)!important;
    }
    h2 {
        font-size: var(--font-h2-desk)!important;
    }
    p {
        font-size: var(--font-p-desk)!important;
    }

    .consultation-btn {
        font-size: var(--font-btn-desk)!important;
    }

    /* resize */

    body {
        padding: 5% 10%;
    }

    .header-logo {
        height: 4rem;
    }

    .consultation-btn {
        height: 3.5rem;
        width: 14.25rem;
    }

    img.avatar {
        height: 27.8125rem;
        width: 27.8125rem;
        position: relative;
    }

    .heading-content, .my-skills-section, .my-information, .my-work {
        margin-bottom: 6rem;
    }

    .my-carousel, .footer-card {
        margin-bottom: 3rem;
    }

    /* My-work */
    .slick-list {
        margin: 0 -10vw;
    }

    .my-carousel img {
        height: 360px;
        width: 100%;
    }

    [class*="btn-arrow-"] {
        height: 4rem;
        width: 4rem;
    }



    /* skills grids */
    

    .my-skills-section {
        display: grid;
        grid-template-columns: calc(33.33% - 1.625rem/2) calc(33.33%/2 - 1.625rem) calc(33.33%/2 - 1.625rem) calc(33.33% - 1.625rem/2);
        grid-template-rows: 11.375rem 9.875rem;
        grid-template-areas: 
        'skill-design skill-uxui skill-apps skill-photo'
        'skill-design skill-ill skill-ill skill-graphics'
        ;
        column-gap: 1.625rem;
        row-gap: 1.625rem;

    }



    /* Avatar & information */

    .avatar-information {
        padding: 1rem 0;
        justify-content: space-around;
    }

    .avatar-container {
        display: flex;
        align-items: flex-start;
    }

    /* footer card */
    .footer-card {
        display: grid;
        padding: 5rem 5rem;
        grid-template-columns: 60% 40%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        'footer-h3 footer-btn'
        'footer-p footer-btn';
    }

    .footer-card h3 {
        grid-area: footer-h3;
    }

    .footer-card p {
        grid-area: footer-p;
    }

    .footer-card h3, .footer-card p {
        text-align: left;
    }

    .footer-card .footer-btn {
        grid-area: footer-btn;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}